[Desktop Entry]
Name=Audacity
GenericName=Sound Editor
GenericName[fr]=Éditeur audio
Comment=Record and edit audio files
Comment[fr]=Enregistrer et éditer des fichiers audio
Icon=audacity
Type=Application
Categories=AudioVideo;Audio;AudioVideoEditing;
Exec=env UBUNTU_MENUPROXY=0 audacity %F
StartupNotify=false
Terminal=false
MimeType=application/x-audacity-project;audio/aac;audio/ac3;audio/mp4;audio/x-ms-wma;video/mpeg;audio/flac;audio/x-flac;audio/mpeg;audio/basic;audio/x-aiff;audio/x-wav;application/ogg;audio/x-vorbis+ogg;
X-XFCE-Source=file:///usr/share/applications/audacity.desktop
